Repository Lua-Frontier/sector-frontier-14, pull requests merged in 2025-10, with the labels that each got.

#240 Europa-remap
  Resources/Maps/_Mono/Shuttles/BlackMarket/europa.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/europa.yml
Labels: S: Untriaged, No C#, YML, Карта-Шаттлы, size/XL

#266 Transport any pr
  Resources/Locale/ru-RU/_Mono/shuttle/turret.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/machines/computers/computers.ftl
Labels: size/S, S: Untriaged, No C#, FTL

#269 Фронтир Параллель Венд и одежда
  Resources/Prototypes/_Lua/Entities/Clothing/Uniforms/kimono.yml
  Resources/Prototypes/_Lua/Entities/Clothing/Uniforms/sweaters.yml
  Resources/Prototypes/_Lua/Entities/Structures/Machines/parallelowend.yml
  Resources/Textures/_Lua/Clothing/Uniforms/kimonomiku.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Lua/Clothing/Uniforms/kimonomiku.rsi/icon.png
  Resources/Textures/_Lua/Clothing/Uniforms/kimonomiku.rsi/inhand-left.png
  Resources/Textures/_Lua/Clothing/Uniforms/kimonomiku.rsi/inhand-right.png
  Resources/Textures/_Lua/Clothing/Uniforms/kimonomiku.rsi/meta.json
  Resources/Textures/_Lua/Clothing/Uniforms/sweaterblack.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Lua/Clothing/Uniforms/sweaterblack.rsi/icon.png
  Resources/Textures/_Lua/Clothing/Uniforms/sweaterblack.rsi/inhand-left.png
  Resources/Textures/_Lua/Clothing/Uniforms/sweaterblack.rsi/inhand-right.png
  Resources/Textures/_Lua/Clothing/Uniforms/sweaterblack.rsi/meta.json
  Resources/Textures/_Lua/Clothing/Uniforms/sweaterblue.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Lua/Clothing/Uniforms/sweaterblue.rsi/icon.png
  Resources/Textures/_Lua/Clothing/Uniforms/sweaterblue.rsi/inhand-left.png
  Resources/Textures/_Lua/Clothing/Uniforms/sweaterblue.rsi/inhand-right.png
  Resources/Textures/_Lua/Clothing/Uniforms/sweaterblue.rsi/meta.json
  Resources/Textures/_Lua/Clothing/Uniforms/sweaterraindbow.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Lua/Clothing/Uniforms/sweaterraindbow.rsi/icon.png
  Resources/Textures/_Lua/Clothing/Uniforms/sweaterraindbow.rsi/inhand-left.png
  Resources/Textures/_Lua/Clothing/Uniforms/sweaterraindbow.rsi/inhand-right.png
  Resources/Textures/_Lua/Clothing/Uniforms/sweaterraindbow.rsi/meta.json
  Resources/Textures/_Lua/Clothing/Uniforms/sweaterred.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Lua/Clothing/Uniforms/sweaterred.rsi/icon.png
  Resources/Textures/_Lua/Clothing/Uniforms/sweaterred.rsi/inhand-left.png
  Resources/Textures/_Lua/Clothing/Uniforms/sweaterred.rsi/inhand-right.png
  Resources/Textures/_Lua/Clothing/Uniforms/sweaterred.rsi/meta.json
  Resources/Textures/_Lua/Clothing/Uniforms/sweaterviolet.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Lua/Clothing/Uniforms/sweaterviolet.rsi/icon.png
  Resources/Textures/_Lua/Clothing/Uniforms/sweaterviolet.rsi/inhand-left.png
  Resources/Textures/_Lua/Clothing/Uniforms/sweaterviolet.rsi/inhand-right.png
  Resources/Textures/_Lua/Clothing/Uniforms/sweaterviolet.rsi/meta.json
  Resources/Textures/_Lua/Structures/Machines/VendingMachines/ParallelOWend.rsi/broken.png
  Resources/Textures/_Lua/Structures/Machines/VendingMachines/ParallelOWend.rsi/deny-unshaded.png
  Resources/Textures/_Lua/Structures/Machines/VendingMachines/ParallelOWend.rsi/meta.json
  Resources/Textures/_Lua/Structures/Machines/VendingMachines/ParallelOWend.rsi/normal-unshaded.png
  Resources/Textures/_Lua/Structures/Machines/VendingMachines/ParallelOWend.rsi/off.png
  Resources/Textures/_Lua/Structures/Machines/VendingMachines/ParallelOWend.rsi/panel.png
Labels: Sprites, No C#, YML, size/M

#275 Переработка названий, описаний, часов, зарплат ролей Нордфолла (и авантюристов)
  Resources/Locale/ru-RU/_NF/job/job-names.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Prototypes/_Lua/Maps/Maps/typan.yml
  Resources/Prototypes/_Lua/Roles/Jobs/Typan/atmospheric_technician.yml
  Resources/Prototypes/_Lua/Roles/Jobs/Typan/cargo_technician.yml
  Resources/Prototypes/_Lua/Roles/Jobs/Typan/chef.yml
  Resources/Prototypes/_Lua/Roles/Jobs/Typan/medical_doctor.yml
  Resources/Prototypes/_Lua/Roles/Jobs/Typan/research_director.yml
  Resources/Prototypes/_Lua/Roles/Jobs/Typan/researcher.yml
Labels: No C#, FTL, YML
