Repository Lua-Frontier/sector-frontier-14, pull requests merged in 2025-09, with the labels that each got.

#177 градиент волос и аксессуаров
  Content.Client/Humanoid/HumanoidAppearanceSystem.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Shared/Humanoid/HumanoidAppearanceComponent.cs
  Content.Shared/Humanoid/HumanoidCharacterAppearance.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Resources/Locale/en-US/preferences/ui/humanoid-profile-editor.ftl
  Resources/Locale/ru-RU/preferences/ui/humanoid-profile-editor.ftl
  Resources/Prototypes/_Lua/Shaders/shaders.yml
  Resources/Textures/_Lua/Shaders/hair_linear_gradient.swsl
Labels: S: Untriaged, UI, C#, Shaders, FTL, YML, S: Needs Review, size/M

#204 Loadout locale add and fix
  Resources/Locale/ru-RU/_Lua/Loadouts/loadouts.ftl
Labels: S: Untriaged, size/XS, No C#, FTL

#212 Обновление плееров
  Content.Client/Audio/Jukebox/JukeboxSystem.cs
  Content.Client/Options/UI/Tabs/AudioTab.xaml
  Content.Client/Options/UI/Tabs/AudioTab.xaml.cs
  Content.Server/Audio/Jukebox/JukeboxSystem.cs
  Content.Shared/Audio/Jukebox/JukeboxComponent.cs
  Content.Shared/CCVar/CCVars.Audio.cs
  Resources/Locale/ru-RU/_Lua/merj.ftl
  Resources/Prototypes/_Lua/MPPlayer/mpplayer.yml
  Resources/Prototypes/_Lua/Plushie/plushies.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/cuddlycritter.yml
  Resources/Textures/_Lua/MPPlayer/mpplayer.rsi/MP3player-base.png
  Resources/Textures/_Lua/MPPlayer/mpplayer.rsi/MP3player-off-overlay.png
  Resources/Textures/_Lua/MPPlayer/mpplayer.rsi/MP3player-on-BLUE.png
  Resources/Textures/_Lua/MPPlayer/mpplayer.rsi/MP3player-on-BLUE_SKY.png
  Resources/Textures/_Lua/MPPlayer/mpplayer.rsi/MP3player-on-GREEN.png
  Resources/Textures/_Lua/MPPlayer/mpplayer.rsi/MP3player-on-MITN_GREEN.png
  Resources/Textures/_Lua/MPPlayer/mpplayer.rsi/MP3player-on-PINK.png
  Resources/Textures/_Lua/MPPlayer/mpplayer.rsi/MP3player-on-SEARCH.png
  Resources/Textures/_Lua/MPPlayer/mpplayer.rsi/MP3player-on-YELLOW.png
  Resources/Textures/_Lua/MPPlayer/mpplayer.rsi/MP3player-on-overlay.png
  Resources/Textures/_Lua/MPPlayer/mpplayer.rsi/meta.json
  Resources/Textures/_Lua/MPPlayer/mpplayer.rsi/player-off.png
  Resources/Textures/_Lua/MPPlayer/mpplayer.rsi/player-on-boich.png
  Resources/Textures/_Lua/MPPlayer/mpplayer.rsi/player-on-hacks.png
  Resources/Textures/_Lua/MPPlayer/mpplayer.rsi/player-on-netscape.png
  Resources/Textures/_Lua/Plushie/toys.rsi/mariya_rogozina.png
  Resources/Textures/_Lua/Plushie/toys.rsi/meta.json
Labels: Sprites, UI, C#, FTL, YML, size/M

#187 Багфикс ишью
  Content.Client/Humanoid/HumanoidAppearanceSystem.cs
  Content.Shared/Humanoid/HumanoidCharacterAppearance.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Resources/Locale/ru-RU/_Mono/events/shuttles.ftl
  Resources/Locale/ru-RU/_deadspace/datasets/names/shark_first_female.ftl
  Resources/Locale/ru-RU/_deadspace/datasets/names/shark_first_male.ftl
  Resources/Locale/ru-RU/_deadspace/datasets/names/shark_last.ftl
  Resources/Locale/ru-RU/_deadspace/datasets/names/vulp_first_female.ftl
  Resources/Locale/ru-RU/_deadspace/datasets/names/vulp_first_male.ftl
  Resources/Locale/ru-RU/_deadspace/datasets/names/vulp_last.ftl
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-vials.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/_Lua/Datasets/Names/first_female_shark.yml
  Resources/Prototypes/_Lua/Datasets/Names/first_female_vulp.yml
  Resources/Prototypes/_Lua/Datasets/Names/first_male_shark.yml
  Resources/Prototypes/_Lua/Datasets/Names/first_male_vulp.yml
  Resources/Prototypes/_Lua/Datasets/Names/last_shark.yml
  Resources/Prototypes/_Lua/Datasets/Names/last_vulp.yml
  Resources/Prototypes/_Lua/Races/Avali/Body/Parts/avali.yml
  Resources/Prototypes/_Lua/Races/Avali/Body/Prototypes/avali.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/chemical-containers.yml
Labels: S: Untriaged, C#, No C#, FTL, YML, S: Needs Review, size/L

#234 Techical patch
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Gateway/Components/GatewayGeneratorDestinationComponent.cs
  Content.Server/Gateway/Systems/GatewayGeneratorSystem.cs
  Content.Server/Gateway/Systems/GatewaySystem.cs
  Content.Server/Parallax/BiomeSystem.cs
  Content.Server/Physics/Controllers/ConveyorController.cs
  Content.Server/Physics/Controllers/MoverController.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/Worldgen/Systems/Debris/DebrisFeaturePlacerSystem.cs
  Content.Server/_Lua/Physics/AutoUnstuckSystem.cs
  Content.Server/_Lua/Physics/Controllers/OuterLimitController.cs
  Content.Server/_Lua/Physics/PhysicsTickrateSyncSystem.cs
  Content.Server/_Lua/Tick/TickrateSystem.cs
  Content.Shared/Conveyor/ConveyorComponent.cs
  Content.Shared/Friction/TileFrictionController.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
  Content.Shared/Physics/Controllers/SharedConveyorController.cs
  Resources/Maps/_Lua/POI/barriergate.yml
  Resources/Prototypes/_Lua/Maps/POI/FrontierSector/barriergate.yml
  Resources/Prototypes/_NF/PointsOfInterest/barriergate.yml
Labels: C#, YML, Карта-POI

#228 nfsd-tarantula-remap
  Resources/Maps/_Mono/Shuttles/Nfsd/tarantula.yml
Labels: S: Untriaged, No C#, Карта-Шаттлы, size/L

#241 Pirate-Mercury
  Resources/Maps/_Lua/Shuttles/Pirates/Mercury.yml
  Resources/Prototypes/_Lua/Shipyard/Pirates/Mercury.yml
  Resources/Prototypes/_Mono/Shipyard/aclass.yml
Labels: S: Untriaged, No C#, YML, Карта-Шаттлы, size/XL
