Repository Lua-Frontier/sector-frontier-14, pull requests merged in 2025-06, with the labels that each got.

#4 Дурею с этой прикормки
  .github/labeler.yml
  .github/workflows/changelog.yml
  Resources/Changelog/Lua.yml
  Tools/actions_changelog_rss.py
  Tools/actions_changelogs_since_last_run.py
  Tools/manual_changelog.py
Labels: size/S, S: Untriaged, No C#, YML

#5 Переводы
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/close-master-pr.yml
  Tools/actions_changelog_rss.py
  Tools/actions_changelogs_since_last_run.py
Labels: size/S, S: Untriaged, No C#, Docs, YML

#6 PlayTimeServer межсерверное время ролей
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Database/ServerDbPostgres.cs
  Content.Server/Database/ServerDbSqlite.cs
  Content.Shared/_Backmen/CCVar/CCVars.PlayTime.cs
  Content.Shared/_Backmen/CCVar/CCVars.cs
Labels: size/S, S: Untriaged, C#

#9 Багфиксы по репортам
  Content.Client/Construction/UI/ConstructionMenuPresenter.cs
  Content.Server/Gateway/Components/GatewayComponent.cs
  Content.Server/Gateway/Components/GatewayGeneratorComponent.cs
  Content.Server/Gateway/Systems/GatewayGeneratorSystem.cs
  Content.Server/Maps/MapMigrationSystem.cs
  Content.Server/Parallax/BiomeSystem.cs
  Content.Server/Salvage/SalvageSystem.Expeditions.cs
  Content.Server/Shuttles/Systems/GridCleanupSystem.cs
  Content.Server/Shuttles/Systems/GridDeletionContainerSystem.cs
  Content.Shared/CCVar/CCVars.Misc.cs
  Content.Shared/Movement/Systems/FrictionContactsSystem.cs
  Resources/Locale/ru-RU/_Lua/construction.ftl
  Resources/Locale/ru-RU/_Lua/salvagefactions.ftl
  Resources/Maps/_Lua/POI/nfsd.yml
  Resources/Maps/_Lua/Shuttles/SD/Mole.yml
  Resources/Maps/_Mono/Shuttles/Nfsd/anura.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_Lua/Entities/Object/RandomDrop/randomxenocarp.yml
  Resources/Prototypes/_Lua/Procedural/biome_markers.yml
  Resources/Prototypes/_Lua/Procedural/dungeon_configs.yml
  Resources/Prototypes/_Lua/Procedural/salvage_factions.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/dragon_egg.yml
  Resources/lua_migration.yml
Labels: S: Untriaged, C#, FTL, YML, Карта-POI, Карта-Шаттлы

#10 Lua - Тир-Лист Огнестрелу #1
  Resources/Prototypes/_ADT/Entities/Objects/Weapons/Guns/Revolvers/Unica.yml
  Resources/Prototypes/_ADT/Entities/Objects/Weapons/Guns/Rifels/abakan.yml
  Resources/Prototypes/_ADT/Entities/Objects/Weapons/Guns/Rifels/xc67.yml
  Resources/Prototypes/_ADT/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_ADT/Entities/Objects/Weapons/Melee/Swords.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Lua/Entities/Objects/Weapons/Guns/Pistols/desert_eagle.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Battery/battery_pistols.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Battery/battery_rifles.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Battery/battery_rifles_assault.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/rifles_assault.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns.lnk
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Heavy/launcher.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Heavy/minigun.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/LMGs/LMGs.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
Labels: S: Untriaged, No C#, YML, size/M

#20 Improved xenoarch
  Content.Shared/Xenoarchaeology/Artifact/Components/XenoArtifactComponent.cs
  Content.Shared/Xenoarchaeology/Artifact/Components/XenoArtifactNodeComponent.cs
  Resources/Locale/ru-RU/xenoarchaeology/artifact-analyzer.ftl
Labels: size/S, C#, FTL

#24 Обновление сборки
  Content.Client/Shuttles/UI/ShuttleMapControl.xaml.cs
  Content.Client/_NF/Shipyard/BUI/ShipyardConsoleBoundUserInterface.cs
  Content.Client/_NF/Shipyard/UI/ShipyardConsoleMenu.xaml
  Content.Client/_NF/Shipyard/UI/ShipyardConsoleMenu.xaml.cs
  Content.Packaging/ServerPackaging.cs
  Content.Server/Administration/Systems/BwoinkSystem.cs
  Content.Server/Anomaly/Components/AnomalyGeneratorComponent.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Chat/Managers/IChatManager.cs
  Content.Server/Content.Server.csproj
  Content.Server/Discord/DiscordLink/DiscordChatLink.cs
  Content.Server/Discord/DiscordLink/DiscordLink.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/MoMMI/IMoMMILink.cs
  Content.Server/MoMMI/MoMMILink.cs
  Content.Server/Parallax/BiomeSystem.cs
  Content.Server/Salvage/SalvageSystem.Expeditions.cs
  Content.Server/Shuttles/Systems/GridCleanupSystem.cs
  Content.Server/Shuttles/Systems/GridDeletionContainerSystem.cs
  Content.Server/_Lua/MapperGrid/MapperGridComponent.cs
  Content.Server/_Mono/FireControl/FireControlSystem.cs
  Content.Server/_Mono/SpaceGarbageCleanupSystem.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.cs
  Content.Shared/CCVar/CCVars.Chat.Admin.cs
  Content.Shared/CCVar/CCVars.Chat.Ooc.cs
  Content.Shared/CCVar/CCVars.Discord.cs
  Content.Shared/CCVar/CCVars.Status.cs
  Content.Shared/Chat/ChatChannel.cs
  Content.Shared/_Mono/CCVar/CCVars.Mono.cs
  Content.Shared/_NF/Shipyard/Events/ShipyardConsoleRenameMessage.cs
  Directory.Packages.props
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/_Lua/_test/version.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Structures/Machines/anomaly_equipment.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Packs/ore.yml
  Resources/Prototypes/Recipes/Lathes/Packs/shared.yml
  Resources/Prototypes/_Corvax/Recipes/Lathes/devices.yml
  Resources/Prototypes/_Lua/Entities/Objects/Weapons/Guns/Basic/magmite_pka.yml
  Resources/Prototypes/_Lua/Research/arsenal.yml
  Resources/Textures/_Lua/Objects/Weapons/Guns/Basic/magmite_accelerator.rsi/animation-icon.png
  Resources/Textures/_Lua/Objects/Weapons/Guns/Basic/magmite_accelerator.rsi/equipped-BELT.png
  Resources/Textures/_Lua/Objects/Weapons/Guns/Basic/magmite_accelerator.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Lua/Objects/Weapons/Guns/Basic/magmite_accelerator.rsi/icon.png
  Resources/Textures/_Lua/Objects/Weapons/Guns/Basic/magmite_accelerator.rsi/inhand-left.png
  Resources/Textures/_Lua/Objects/Weapons/Guns/Basic/magmite_accelerator.rsi/inhand-right.png
  Resources/Textures/_Lua/Objects/Weapons/Guns/Basic/magmite_accelerator.rsi/meta.json
  Resources/Textures/_Lua/Objects/Weapons/Guns/Basic/magmite_accelerator.rsi/wielded-inhand-left.png
  Resources/Textures/_Lua/Objects/Weapons/Guns/Basic/magmite_accelerator.rsi/wielded-inhand-right.png
Labels: Sprites, UI, C#, FTL, YML, size/L

#23 Чёрный Рынок - Верфь
  Content.Shared/CCVar/CCVars.Interactions.cs
  Resources/Prototypes/_Lua/Shipyard/Pirates/Baron.yml
  Resources/Prototypes/_Lua/Shipyard/Pirates/Kettlebell.yml
  Resources/Prototypes/_Lua/Shipyard/Pirates/Mjolnir.yml
  Resources/Prototypes/_Lua/Shipyard/Pirates/Pearl.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/kessler.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/marauder.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/mercury.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/polaris.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/barnacle.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/bocakillo.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/falcon.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/menace.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/schooner.yml
Labels: size/S, S: Untriaged, Map-Shuttle, C#, YML, Карта-Шаттлы

#31 Ребаланс+Фикс #1
  Resources/Prototypes/Entities/Structures/Power/Generation/generators.yml
  Resources/Prototypes/_Lua/Entities/Objects/Weapons/Guns/Pistols/cutteronly.yml
  Resources/Prototypes/_Lua/UplinkMerc/mercenary_uplink_catalog.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/sheriff.yml
Labels: size/S, S: Untriaged, No C#, YML

#40 Мелкие Изменения
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Lua/Entities/Clothing/Uniforms/typan/typan.yml
  Resources/Prototypes/_Lua/Entities/Objects/Weapons/Guns/Pistols/desert_eagle.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/LMGs/base_lmg.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/SMGs/base_smg.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/ammofab.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/latherecipe.yml
Labels: S: Untriaged, No C#, YML, size/M

#43 [add] Добавление прототипов к уже имеющейся одежде
  Resources/Locale/ru-RU/ADT/Neck/cloak.ftl
  Resources/Locale/ru-RU/ADT/OuterClothing/coats.ftl
  Resources/Locale/ru-RU/ADT/Uniform/jumpsuits.ftl
  Resources/Prototypes/_ADT/Entities/Clothing/Neck/Cloaks.yml
  Resources/Prototypes/_ADT/Entities/Clothing/OuterClothing/pyotr_coat.yml
  Resources/Prototypes/_ADT/Entities/Clothing/Uniforms/Jumpsuit.yml
Labels: size/S, S: Untriaged, No C#, FTL, YML

#45 Синхронизация правил сервера с обновлёнными правилами в Discord
  Resources/ServerInfo/_DeadSpace/Guidebook/ServerRules/DeadSpaceFrontierRule2.xml
  Resources/ServerInfo/_DeadSpace/Guidebook/ServerRules/DeadSpaceFrontierRule25.xml
  Resources/ServerInfo/_DeadSpace/Guidebook/ServerRules/DeadSpaceFrontierRule6.xml
Labels: S: Untriaged, size/XS, No C#, Docs

#53 Возможный фикс лагов
  Content.Shared/Theta/ShipEvent/CircularShield/CircularShieldProjectileSystem.cs
Labels: S: Untriaged, C#

#54 Качество жизни #1 Залезть на ген
  Resources/Prototypes/Entities/Structures/Power/Generation/portable_generator.yml
  Resources/Prototypes/_NF/Entities/Structures/Power/Generation/portable_generator.yml
Labels: S: Untriaged, size/XS, No C#, YML

#58 Ребаланс/Фикс #2
  Resources/Maps/_Mono/Shuttles/BlackMarket/anaconda.yml
  Resources/Maps/_Mono/Shuttles/BlackMarket/europa.yml
  Resources/Maps/_Mono/Shuttles/BlackMarket/spyglass.yml
  Resources/Maps/_Mono/Shuttles/BlackMarket/tethys.yml
  Resources/Maps/_Mono/Shuttles/BlackMarket/vega.yml
  Resources/Maps/_Mono/Shuttles/BlackMarket/vulture.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/medkits.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/base_cartridge.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/grenade.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/blast_door.yml
  Resources/Prototypes/Entities/Structures/Shuttles/cannons.yml
  Resources/Prototypes/Recipes/Lathes/machine_boards.yml
  Resources/Prototypes/_Lua/Entities/Objects/Weapons/Guns/SpaceArtillery/Ammunition/Projectiles/Energy/projectiles.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/5mm.yml
Labels: S: Untriaged, No C#, YML, Карта-Шаттлы, size/XL
