Repository Lua-Frontier/sector-frontier-14, pull requests merged in 2025-08, with the labels that each got.

#95 Комрад-венд тактический фикс описаний и новая баночка.
  Resources/Locale/ru-RU/_Lua/drinks.ftl
  Resources/Prototypes/_Lua/Entities/Objects/Consumable/Drinks/drink.yml
  Resources/Prototypes/_Lua/Entities/Structures/Machines/frontier_comrades.yml
  Resources/Prototypes/_Lua/Reagents/Consumable/Drink/drinks.yml
  Resources/Textures/_Lua/Objects/Consumable/Drinks/FaustNetzach.rsi/icon.png
  Resources/Textures/_Lua/Objects/Consumable/Drinks/FaustNetzach.rsi/icon_open.png
  Resources/Textures/_Lua/Objects/Consumable/Drinks/FaustNetzach.rsi/inhand-left.png
  Resources/Textures/_Lua/Objects/Consumable/Drinks/FaustNetzach.rsi/inhand-right.png
  Resources/Textures/_Lua/Objects/Consumable/Drinks/FaustNetzach.rsi/meta.json
Labels: Sprites, No C#, FTL, YML, size/M

#87 Gefest shipyard
  Resources/Maps/_Lua/Shuttles/Civilian/fisherman.yml
  Resources/Maps/_Lua/Shuttles/Civilian/riman2.yml
  Resources/Maps/_Lua/Shuttles/Civilian/seagull.yml
  Resources/Prototypes/_Lua/Shipyard/Civilian/fisherman.yml
  Resources/Prototypes/_Lua/Shipyard/Civilian/riman2.yml
  Resources/Prototypes/_Lua/Shipyard/Civilian/seagull.yml
Labels: No C#, YML, Карта-Шаттлы, S: Needs Review, size/XL

#107 Локализация, ребаланс оружия
  Resources/Locale/ru-RU/_Goobstation/entities/objects/weapons/guns/energy/battery-weapons.ftl
  Resources/Locale/ru-RU/_Goobstation/entities/objects/weapons/guns/pistols/pistols.ftl
  Resources/Locale/ru-RU/_Goobstation/entities/objects/weapons/guns/rifles/rifle.ftl
  Resources/Locale/ru-RU/_Goobstation/entities/objects/weapons/guns/rifles/rifles.ftl
  Resources/Locale/ru-RU/_Goobstation/entities/objects/weapons/melee/sabre.ftl
  Resources/Locale/ru-RU/_NF/prototypes/entities/objects/weapons/ammunition/boxes/pistol.ft
  Resources/Locale/ru-RU/_NF/prototypes/entities/objects/weapons/ammunition/boxes/rifles.ftl
  Resources/Locale/ru-RU/_NF/prototypes/entities/objects/weapons/ammunition/boxes/shells.ftl
  Resources/Locale/ru-RU/_NF/prototypes/entities/objects/weapons/ammunition/catriges/pistols.ftl
  Resources/Locale/ru-RU/_NF/prototypes/entities/objects/weapons/ammunition/catriges/rifles.ftl
  Resources/Locale/ru-RU/_NF/prototypes/entities/objects/weapons/ammunition/catriges/shells.ftl
  Resources/Locale/ru-RU/_NF/prototypes/entities/objects/weapons/ammunition/magazines/drums.ftl
  Resources/Locale/ru-RU/_NF/prototypes/entities/objects/weapons/ammunition/magazines/pistols.ftl
  Resources/Locale/ru-RU/_NF/prototypes/entities/objects/weapons/ammunition/magazines/rifle20.ftl
  Resources/Locale/ru-RU/_NF/prototypes/entities/objects/weapons/ammunition/magazines/rifle30.ftl
  Resources/Locale/ru-RU/_NF/prototypes/entities/objects/weapons/ammunition/speedloaders/pistol.ftl
  Resources/Locale/ru-RU/_NF/prototypes/entities/objects/weapons/guns/battery/battery-assault.ftl
  Resources/Locale/ru-RU/_NF/prototypes/entities/objects/weapons/guns/battery/battery-pistols.ftl
  Resources/Locale/ru-RU/_NF/prototypes/entities/objects/weapons/guns/lmgs/lmgs.ftl
  Resources/Locale/ru-RU/_NF/prototypes/entities/objects/weapons/guns/pistols/pistols.ftl
  Resources/Locale/ru-RU/_NF/prototypes/entities/objects/weapons/guns/revolvers/revolvers.ftl
  Resources/Locale/ru-RU/_NF/prototypes/entities/objects/weapons/guns/rifles/rifles-assault.ftl
  Resources/Locale/ru-RU/_NF/prototypes/entities/objects/weapons/guns/rifles/rifles.ftl
  Resources/Locale/ru-RU/_NF/prototypes/entities/objects/weapons/guns/shotguns/shotguns.ftl
  Resources/Locale/ru-RU/_NF/prototypes/entities/objects/weapons/guns/smgs/smgs.ftl
  Resources/Locale/ru-RU/_NF/prototypes/entities/objects/weapons/guns/tools/pka.ftl
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/base_gun.yml
Labels: S: Untriaged, No C#, FTL, YML, size/M

#96 Добавление XC67 в аплинк, удаление недееспособного емага из аплинка
  Resources/Locale/ru-RU/_Lua/uplink.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/_ADT/Entities/Objects/Weapons/Guns/Rifels/xc67.yml
  Resources/Prototypes/_NF/Catalog/uplink_catalog.yml
Labels: size/S, S: Untriaged, No C#, FTL, YML, S: Needs Review

#119 Large Thrusters
  Resources/Prototypes/Entities/Structures/Machines/capital_thrusters.yml
  Resources/Textures/_Mono/Structures/Shuttles/thruster_large.rsi/base.png
  Resources/Textures/_Mono/Structures/Shuttles/thruster_large.rsi/meta.json
  Resources/Textures/_Mono/Structures/Shuttles/thruster_large.rsi/thrust.png
  Resources/Textures/_Mono/Structures/Shuttles/thruster_large.rsi/thrust_burn_unshaded.png
Labels: Sprites, No C#, YML, size/M

#146 Экспериментальный коммит 2
  Content.Server/Anomaly/AnomalySystem.Commands.cs
  Content.Server/Anomaly/AnomalySystem.cs
  Content.Server/Anomaly/Systems/AnomalyRandomCleanupSystem.cs
  Content.Server/Anomaly/Systems/AnomalyRandomManager.cs
  Content.Server/Anomaly/Systems/RandomInterceptionSystem.cs
  Content.Server/Anomaly/Systems/RandomIoCInterceptionSystem.cs
  Content.Server/Anomaly/Systems/RandomLoggerWrapper.cs
  Content.Server/Anomaly/Systems/RandomMassPatchSystem.cs
  Content.Server/Parallax/BiomeSystem.cs
  Content.Server/Spawners/EntitySystems/ConditionalSpawnerSystem.cs
  Content.Server/Spawners/EntitySystems/SpawnerSystem.cs
  Content.Server/Wires/WiresSystem.cs
  Content.Server/_Lua/FTLPoints/Effects/ToPlanetEffect.cs
  Content.Shared/StoryGen/EntitySystems/StoryGeneratorSystem.cs
Labels: C#

#129 Фикс всей экономики за счёт добавления новой уникальной системы цен
  Content.Client/Cargo/UI/CargoPalletMenu.xaml
  Content.Client/Cargo/UI/CargoPalletMenu.xaml.cs
  Content.Client/_NF/Cargo/BUI/CargoPalletConsoleNFBoundUserInterface.cs
  Content.Server/_Lua/Contributions/Market/BaseMarketDynamicSystem.cs
  Content.Server/_Lua/Contributions/Market/MarketSystem.BlackMarket.cs
  Content.Server/_Lua/Contributions/Market/MarketSystem.Default.cs
  Content.Server/_Lua/Contributions/Market/MarketSystem.Syndicate.cs
  Content.Server/_Lua/Market/Systems/MarketSystem.DynamicPricing.cs
  Content.Server/_NF/Cargo/Components/NFCargoPalletConsoleComponent.cs
  Content.Server/_NF/Cargo/Systems/NFCargoSystem.Pallet.cs
  Content.Server/_NF/Cargo/Systems/NFCargoSystem.cs
  Content.Server/_NF/Contraband/Systems/ContrabandTurnInSystem.cs
  Content.Server/_NF/Market/Systems/MarketSystem.MarketConsole.cs
  Content.Shared/_Lua/Market/Components/MarketDomainComponent.cs
  Content.Shared/_Lua/Market/MarketDomain.cs
  Content.Shared/_Lua/Market/Prototypes/MarketDomainConfigPrototype.cs
  Content.Shared/_NF/Cargo/BUI/NFCargoPalletConsoleInterfaceState.cs
  Resources/Locale/en-US/cargo/cargo-pallet-console-component.ftl
  Resources/Locale/ru-RU/cargo/cargo-pallet-console-component.ftl
  Resources/Prototypes/_Lua/Entities/Structures/Machines/Computers/cargo-sell.yml
  Resources/Prototypes/_NF/Market/market_domains.yml
  Resources/Prototypes/_NF/Reagents/medicine.yml
  Resources/Textures/_Lua/Structures/Machines/computers.rsi/generic_keyboard_trade.png
  Resources/Textures/_Lua/Structures/Machines/computers.rsi/generic_panel_open.png
  Resources/Textures/_Lua/Structures/Machines/computers.rsi/meta.json
  Resources/Textures/_Lua/Structures/Machines/computers.rsi/tech_key.png
  Resources/Textures/_Lua/Structures/Machines/computers.rsi/transferBlackMarketN.png
  Resources/Textures/_Lua/Structures/Machines/computers.rsi/transferPirate.png
  Resources/Textures/_Lua/Structures/Machines/computers.rsi/transferPirateN.png
  Resources/Textures/_Lua/Structures/Machines/computers.rsi/transferSyndicate.png
  Resources/Textures/_Lua/Structures/Machines/computers.rsi/transferSyndicateN.png
Labels: Sprites, UI, C#, FTL, YML, size/L, A-Одобрено

#140 Исправление датчиков
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Server/_Lua/Medical/SuitSensors/AutoSuitSensorDefaultsSystem.cs
Labels: S: Untriaged, C#, size/M, A-Одобрено

#143 Another Small Rebalance
  Resources/Locale/ru-RU/_Lua/borgpartloc.ftl
  Resources/Locale/ru-RU/_Lua/shuttles/console.ftl
  Resources/Maps/_Lua/Shuttles/Expedition/gixon.yml
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/Entities/Structures/Machines/chem_master.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Prototypes/_ADT/Entities/Objects/Weapons/Guns/Ammunition/Magazines/shotguns.yml
  Resources/Prototypes/_Lua/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/_Lua/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/_Lua/Recipes/Construction/Graphs/utilities/constructions.yml
  Resources/Prototypes/_Lua/Recipes/Construction/utilities.yml
  Resources/Prototypes/_Lua/Recipes/Construction/walls.yml
  Resources/Prototypes/_Lua/tags.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/launcher.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/projectiles.yml
  Resources/Prototypes/_Mono/GameRules/damaged_ai.yml
  Resources/Prototypes/_Mono/Shipyard/Expedition/arkansaw.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/machine_parts.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Atmospherics/deposits.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/base_bullets.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Labels: S: Untriaged, No C#, FTL, YML, Карта-Шаттлы, size/XL

#157 ML-ships-thruster-remap
  Resources/Maps/_Lua/Shuttles/Typan/Lamaniel.yml
  Resources/Maps/_Lua/Shuttles/Typan/Laqeramaline.yml
  Resources/Maps/_Lua/Shuttles/Typan/LaserBeam.yml
Labels: No C#, Карта-Шаттлы

#138 Багфикс
  Content.Client/Lathe/UI/LatheMenu.xaml.cs
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Server/_EE/Carrying/CarryingSystem.cs
  Content.Server/_NF/Construction/Components/PartExchangerSystem.cs
  Content.Server/_NF/Lathe/BlueprintLatheSystem.cs
  Content.Shared/Bed/Sleep/SleepingSystem.cs
  Content.Shared/Mobs/Systems/MobStateSystem.Subscribers.cs
  Content.Shared/Weapons/Melee/EnergySword/EnergySwordComponent.cs
  Content.Shared/Weapons/Ranged/Systems/ActionGunSystem.cs
  Content.Shared/_Goobstation/Vehicles/SharedVehicleSystem.cs
  Content.Shared/_NF/Carrying/CantCarryOthersComponent.cs
  Content.Shared/_NF/Clothing/EntitySystems/NFMoonBootsSystem.cs
  Content.Shared/_White/Overlays/SwitchableOverlaySystem.cs
  Resources/Locale/en-US/_NF/chat/emotes.ftl
  Resources/Locale/en-US/chat/emotes.ftl
  Resources/Locale/ru-RU/_Goobstation/emotes.ftl
  Resources/Locale/ru-RU/_Lua/avali.ftl
  Resources/Locale/ru-RU/_NF/chat/emotes.ftl
  Resources/Locale/ru-RU/_NF/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/_NF/headset/headset-component.ftl
  Resources/Locale/ru-RU/_NF/lathe/ui/lathe-menu.ftl
  Resources/Locale/ru-RU/_NF/research/technologies.ftl
  Resources/Locale/ru-RU/_NF/species/species.ftl
  Resources/Locale/ru-RU/chat/emotes.ftl
  Resources/Locale/ru-RU/deadspace/chat/emotes.ftl
  Resources/Locale/ru-RU/radio/components/encryption-key-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/catalog/fills/backpacks/npc_loot_punks.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Entities/Structures/Machines/chem_master.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_emotes.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/_Goobstation/Damage/modifier_sets.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/Graphs/mechs/clarke_construction.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/Graphs/mechs/durand_construction.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/Graphs/mechs/gygax_construction.yml
  Resources/Prototypes/_Lua/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Lua/Races/Avali/Entities/Mobs/Species/avali.yml
  Resources/Prototypes/_Mono/GameRules/Shuttles/ship_spawns.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/weapon_cases_expedition.yml
  Resources/Prototypes/_NF/Entities/Clothing/Eyes/glasses_punks.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_punkganger.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Research/techtree.yml
  Resources/Prototypes/_NF/radio_channels.yml
  Resources/Prototypes/_ShibaStation/Reagents/biological.yml
Labels: S: Untriaged, UI, C#, FTL, YML, size/M

#144 Фикс пепла и добавление рецепта барозина(баланс)
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/_Lua/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/_Lua/Recipes/Reactions/medicine.yml
Labels: size/S, S: Untriaged, No C#, YML

#136 Фикс рыбалки и локализации(опять)
  Resources/Locale/en-US/ss14-ru/prototypes/_nf/entities/objects/consumable/food/fish_dishes.ftl
  Resources/Locale/ru-RU/_ADT/prototypes/entities/objects/weapons/guns/revolvers/revolvers.ftl
  Resources/Locale/ru-RU/_ADT/prototypes/entities/objects/weapons/guns/smgs/smgs.ftl
  Resources/Locale/ru-RU/_ADT/prototypes/entities/objects/weapons/melee/melee.ftl
  Resources/Locale/ru-RU/_DV/prototypes/entities/objects/weapons/guns/battery.ftl
  Resources/Locale/ru-RU/_Goobstation/prototypes/entities/objects/specific/mech/weapons/gun/combat.ftl
  Resources/Locale/ru-RU/_NF/guidebook/guides.ftl
  Resources/Locale/ru-RU/_NF/prototypes/entities/objects/fun/toy_guns.ftl
  Resources/Locale/ru-RU/_NF/prototypes/entities/objects/weapons/guns/battery/battery-rifles.ftl
  Resources/Locale/ru-RU/_NF/prototypes/entities/objects/weapons/guns/launchers/launchers.ftl
  Resources/Locale/ru-RU/_NF/prototypes/entities/objects/weapons/guns/pistols/pistols.ftl
  Resources/Locale/ru-RU/_NF/prototypes/entities/objects/weapons/guns/rifles/rifles-assault.ftl
  Resources/Locale/ru-RU/_NF/prototypes/entities/objects/weapons/guns/rifles/rifles.ftl
  Resources/Locale/ru-RU/_NF/prototypes/entities/objects/weapons/guns/shotguns/shotguns.ftl
  Resources/Locale/ru-RU/_RMC14/prototypes/entities/objects/weapons/guns/energy/energy.ftl
  Resources/Locale/ru-RU/_RMC14/prototypes/entities/objects/weapons/guns/lmgs/lmgs.ftl
  Resources/Locale/ru-RU/_RMC14/prototypes/entities/objects/weapons/guns/pistols/pistols.ftl
  Resources/Locale/ru-RU/_RMC14/prototypes/entities/objects/weapons/guns/revolvers/revolvers.ftl
  Resources/Locale/ru-RU/_RMC14/prototypes/entities/objects/weapons/guns/rifles/rifles.ftl
  Resources/Locale/ru-RU/_RMC14/prototypes/entities/objects/weapons/guns/shotguns/shotgun_ammo.ftl
  Resources/Locale/ru-RU/_RMC14/prototypes/entities/objects/weapons/guns/shotguns/shotguns.ftl
  Resources/Locale/ru-RU/_RMC14/prototypes/entities/objects/weapons/guns/smartguns/smartguns.ftl
  Resources/Locale/ru-RU/_RMC14/prototypes/entities/objects/weapons/guns/smgs/smgs.ftl
  Resources/Locale/ru-RU/_RMC14/prototypes/entities/objects/weapons/guns/snipers/snipers.ftl
  Resources/Locale/ru-RU/_RMC14/prototypes/entities/objects/weapons/melee/melee.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/ss14-ru/fishing.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/consumable/food/fish_dishes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/consumable/food/meat.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/consumable/food/sushi.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/actions/fishing.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/baked/bread.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/baked/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/burger.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/meat.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/taco.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/fishing/fish.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/fishing/fishing_spot.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/fishing_rods.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_meal.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Fishing/fish.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Fishing/loot_tables.yml
  Resources/Prototypes/_Lua/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/_Lua/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/_Lua/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_NF/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/Objects/Consumable/Food/meat.rsi/fish_fillet.png
  Resources/Textures/Objects/Consumable/Food/meat.rsi/meta.json
  Resources/Textures/_Lua/Objects/Consumable/Food/fish_dishes.rsi/baked_fish_fillet.png
  Resources/Textures/_Lua/Objects/Consumable/Food/fish_dishes.rsi/fish_chowder.png
  Resources/Textures/_Lua/Objects/Consumable/Food/fish_dishes.rsi/fish_lemon_pasta.png
  Resources/Textures/_Lua/Objects/Consumable/Food/fish_dishes.rsi/fish_salad.png
  Resources/Textures/_Lua/Objects/Consumable/Food/fish_dishes.rsi/meta.json
  Tools/export_selected_files.py
Labels: Sprites, UI, C#, No C#, FTL, YML, size/M
