Repository Lua-Frontier/sector-frontier-14, pull requests merged in 2025-07, with the labels that each got.

#61 [PROTO] Добавлена возможность разборки направленного вентилятора
  Resources/Locale/ru-RU/_Lua/borgpartloc.ftl
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/special.yml
  Resources/Prototypes/_Lua/Recipes/Construction/Graphs/utilities/constructions.yml
  Resources/Prototypes/_Lua/Recipes/Construction/utilities.yml
Labels: size/S, No C#, FTL, YML

#66 улучшение визора рейнджеров
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
Labels: size/S, No C#, YML

#67 Рецепт для магнума .357 (патронов для револьвера Unica 6)
  Resources/Prototypes/_NF/Recipes/Lathes/Magnum357.yml
Labels: S: Untriaged, size/XS, No C#, YML

#80 SYN-Kinetic-Lancer
  Resources/Maps/_Mono/Shuttles/Syndicate/SYN-Kinetic-lancer.yml
  Resources/Prototypes/_Mono/Shipyard/Syndicate/SYN-Kinetic-Lancer.yml
Labels: S: Untriaged, No C#, YML, Карта-Шаттлы, size/XL

#84 Изменения/фиксы - нёрф абьюза
  Content.Server/_NF/CryoSleep/CryoSleepSystem.cs
  Content.Shared/_Lua/CLVars/CLVars.cs
  Resources/Locale/ru-RU/guidebook/cooking.ftl
  Resources/Maps/_Mono/ShuttleEvent/nebula.yml
  Resources/Maps/_Mono/ShuttleEvent/razor.yml
  Resources/Maps/_Mono/ShuttleEvent/zenith.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/blast_door.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/solarpanel.yml
  Resources/Prototypes/_Lua/Entities/Structures/Power/Generation/solar.yml
  Resources/Prototypes/_Mono/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_Mono/GameRules/Shuttles/ship_spawns.yml
  Resources/Prototypes/_Mono/GameRules/base.yml
  Resources/Prototypes/_Mono/GameRules/damaged_ai.yml
  Resources/Prototypes/_Mono/Recipes/Reactions/fentanyl.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/nfpirate.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/nfpirate_captain.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/nfpirate_first_mate.yml
  Resources/Textures/Structures/Power/Generation/solar_panel.rsi/meta.json
  Resources/Textures/Structures/Power/Generation/solar_panel.rsi/solar_panel_diamond.png
  Resources/Textures/Structures/Power/Generation/solar_panel.rsi/solar_panel_diamond_broken.png
  Resources/Textures/Structures/Power/Generation/solar_panel.rsi/solar_panel_diamond_uncabled.png
Labels: S: Untriaged, Sprites, C#, FTL, YML, size/L

#88 Фикс фракции Нордфол + Турель
  Resources/Prototypes/_Lua/Entities/Objects/Weapons/Guns/Turrets/turrets.yml
  Resources/Prototypes/_Lua/Roles/Jobs/Typan/atmospheric_technician.yml
  Resources/Prototypes/_Lua/Roles/Jobs/Typan/botanist.yml
  Resources/Prototypes/_Lua/Roles/Jobs/Typan/cargo_technician.yml
  Resources/Prototypes/_Lua/Roles/Jobs/Typan/chef.yml
  Resources/Prototypes/_Lua/Roles/Jobs/Typan/medical_doctor.yml
  Resources/Prototypes/_Lua/Roles/Jobs/Typan/research_director.yml
  Resources/Prototypes/_Lua/Roles/Jobs/Typan/researcher.yml
  Resources/Prototypes/_Lua/Roles/Jobs/Typan/scientist.yml
  Resources/Prototypes/_Lua/Roles/Jobs/Typan/security_officer.yml
  Resources/Prototypes/_Lua/ai_factions.yml
Labels: size/S, No C#, YML

#91 RMC+NF14 ПатронФаб + .357 recipe крафт
  Resources/Locale/ru-RU/_Lua/structures.ftl
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/solarpanel.yml
  Resources/Prototypes/_Lua/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Lua/Recipes/Lathes/Ammo.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_mercenaries.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_mercenary.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Magnum357.yml
  Resources/Textures/_Lua/Structures/Machines/ammolathe.rsi/icon.png
  Resources/Textures/_Lua/Structures/Machines/ammolathe.rsi/inserting.png
  Resources/Textures/_Lua/Structures/Machines/ammolathe.rsi/meta.json
  Resources/Textures/_Lua/Structures/Machines/ammolathe.rsi/nf14.png
  Resources/Textures/_Lua/Structures/Machines/ammolathe.rsi/panel.png
  Resources/Textures/_Lua/Structures/Machines/ammolathe.rsi/rmc.png
  Resources/Textures/_Lua/Structures/Machines/ammolathe.rsi/unlit.png
Labels: S: Untriaged, Sprites, No C#, FTL, YML, size/M
